@font-face {
    font-family: "icons";
    src: url("./icons.eot?ec3b086122d66695796a922fb513a28e#iefix") format("embedded-opentype"),
url("./icons.woff2?ec3b086122d66695796a922fb513a28e") format("woff2"),
url("./icons.woff?ec3b086122d66695796a922fb513a28e") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-web:before {
    content: "\f101";
}
.icon-targeted-search:before {
    content: "\f102";
}
.icon-search:before {
    content: "\f103";
}
.icon-mail:before {
    content: "\f104";
}
.icon-forward:before {
    content: "\f105";
}
.icon-flash:before {
    content: "\f106";
}
.icon-close:before {
    content: "\f107";
}
.icon-calc:before {
    content: "\f108";
}
