* {
  box-sizing: border-box;
}

section {
  text-align: center;
  padding: 0 var(--space-m);
  max-width: 60rem;
  margin: auto;
}

header {
  padding: var(--space-m);
}

header img {
  max-width: min(50%, 16rem);
}

header h1 {
  margin: var(--space-m);
}

.bar {
  --icon-size: var(--font-xl);
  --icon-padding: var(--space-m);
  background: var(--color-bg-high);
  border: solid 1px var(--color-bg-min);
  border-radius: var(--space-s);
  box-shadow: inset 0 1rem 1.25rem var(--color-bg-max);
  display: grid;
  grid-template-columns: 4rem 1fr 4rem 4rem;
  max-width: 100%;
}

.bar:has(input:focus) {
  border-bottom: solid 2px var(--color-bg-primary);
}

.bar i {
  font-size: 0;
  padding: var(--icon-padding);
  color: var(--color-fg-low);
  display: block;
  width: calc(var(--icon-size) + 2 * var(--icon-padding));
  aspect-ratio: 1/1;
}

.bar i::before {
  font-size: var(--icon-size);
}

#bar-icon {
  --icon: none;
  position: relative;
}

#bar-icon::after {
  content: "";
  display: block;
  position: absolute;
  width: var(--icon-size);
  aspect-ratio: 1/1;
  top: var(--icon-padding);
  left: var(--icon-padding);
  background: transparent;
  background-image: var(--icon);
  background-size: contain;
  border-radius: var(--space-xs);
}

input,
button {
  border: none;
}

input {
  font-size: var(--font-l);
  font-family: var(--font-mono);
  background: transparent;
  color: var(--color-fg-mid);
  caret-color: var(--color-bg-primary);
  width: 100%;
}

input.special {
  color: var(--color-bg-primary);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--color-fg-min);
}

.bar button {
  font-size: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
}

.bar button:hover {
  opacity: 1;
}

.bar button:disabled:hover {
  opacity: 0.7;
  cursor: not-allowed;
}

.bar button[type="submit"] i {
  color: var(--color-bg-primary);
}

.bar button[type="submit"]:disabled i {
  color: var(--color-fg-min);
}

.bar button[type="reset"] i {
  color: var(--color-fg-min);
}

.bar button[type="reset"]:disabled {
  visibility: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 59.99rem) {
  section {
    padding: 0;
  }

  .bar {
    --icon-size: var(--font-l);
    --icon-padding: var(--space-s);

    border-radius: var(--space-s);
    grid-template-columns: 2.5rem 1fr 2.5rem 2.5rem;
  }

  .bar:has(button[type="reset"]:disabled) {
    grid-template-columns: 2.5rem 1fr 0 2.5rem;
  }

  header {
    padding: var(--space-s);
  }

  input {
    font-size: var(--font-m);
  }
}
