:root {
  color-scheme: dark;

  --font-sans: system-ui;
  --font-mono: monospace;

  --font-xs: 0.75rem;
  --font-s: 0.875rem;
  --font-m: 1rem;
  --font-l: 1.5rem;
  --font-xl: 2rem;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 64px;

  --color-fg: #eee;
  --color-fg-hc: #fff;
  --color-fg-lc: #ddd;
  --color-bg: #1a1d25;
  --color-bg-hc: #191b1f;
  --color-bg-lc: #20232b;
  --color-fg-primary: var(--color-bg);
  --color-bg-primary: #f93d5f;
  --color-bg-secondary: #00adb5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  font-family: var(--font-sans);
  font-size: var(--font-m);
  background: var(--color-bg);
}
