@font-face {
  font-family: "icons";
  src:
    url("/icons/icons.woff2") format("woff2"),
    url("/icons/icons.woff") format("woff");
}

:root {
  color-scheme: dark;

  --font-sans: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;

  --font-xs: 0.75rem;
  --font-s: 0.875rem;
  --font-m: 1rem;
  --font-l: 1.5rem;
  --font-xl: 2rem;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 64px;

  --hue: 222deg;
  --saturation: 15%;

  --color-fg-min: hsl(var(--hue), var(--saturation), 50%);
  --color-fg-low: hsl(var(--hue), var(--saturation), 60%);
  --color-fg-mid: hsl(var(--hue), var(--saturation), 70%);
  --color-fg-high: hsl(var(--hue), var(--saturation), 80%);
  --color-fg-max: hsl(var(--hue), var(--saturation), 90%);
  --color-bg-min: hsl(var(--hue), var(--saturation), 22%);
  --color-bg-low: hsl(var(--hue), var(--saturation), 20%);
  --color-bg-mid: hsl(var(--hue), var(--saturation), 18%);
  --color-bg-high: hsl(var(--hue), var(--saturation), 16%);
  --color-bg-max: hsl(var(--hue), var(--saturation), 14%);
  --color-fg-primary: var(--color-bg);
  --color-bg-primary: #ff9500;
  --color-bg-secondary: #00adb5;
}

.light {
  --hue: 222deg;
  --saturation: 15%;

  --color-bg-min: hsl(var(--hue), var(--saturation), 85%);
  --color-bg-low: hsl(var(--hue), var(--saturation), 91%);
  --color-bg-mid: hsl(var(--hue), var(--saturation), 94%);
  --color-bg-high: hsl(var(--hue), var(--saturation), 97%);
  --color-bg-max: hsl(var(--hue), var(--saturation), 100%);
  --color-fg-min: hsl(var(--hue), var(--saturation), 50%);
  --color-fg-low: hsl(var(--hue), var(--saturation), 40%);
  --color-fg-mid: hsl(var(--hue), var(--saturation), 30%);
  --color-fg-high: hsl(var(--hue), var(--saturation), 20%);
  --color-fg-max: hsl(var(--hue), var(--saturation), 10%);
  --color-fg-primary: var(--color-bg);
  --color-bg-primary: #006aff;
  --color-bg-secondary: #00adb5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-m);
  background: var(--color-bg-mid);
  padding: var(--space-m);
  color: var(--color-fg-mid);
}
