@font-face {
  font-family: "icons";
  src:
    url("/icons/icons.woff2") format("woff2"),
    url("/icons/icons.woff") format("woff");
}

:root {
  color-scheme: dark;

  --font-sans: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;

  --font-xs: 0.75rem;
  --font-s: 0.875rem;
  --font-m: 1rem;
  --font-l: 1.5rem;
  --font-xl: 2rem;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 64px;

  --color-fg-min: hsl(223deg, 11%, 50%);
  --color-fg-low: hsl(223deg, 11%, 60%);
  --color-fg-mid: hsl(223deg, 11%, 70%);
  --color-fg-high: hsl(223deg, 11%, 80%);
  --color-fg-max: hsl(223deg, 11%, 90%);
  --color-bg-min: hsl(223deg, 11%, 16%);
  --color-bg-low: hsl(223deg, 11%, 14%);
  --color-bg-mid: hsl(223deg, 11%, 12%);
  --color-bg-high: hsl(223deg, 11%, 10%);
  --color-bg-max: hsl(223deg, 11%, 9%);
  --color-fg-primary: var(--color-bg);
  --color-bg-primary: #ff9500;
  --color-bg-secondary: #00adb5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-m);
  background: var(--color-bg-mid);
  padding: var(--space-m);
  color: var(--color-fg-mid);
}
